@page "/"
@using SpawnDev.EBML
@using SpawnDev.EBML.Elements

<CascadingValue Value="Document" TValue="EBMLDocument">
    <CascadingValue Value="DocumentBusy" TValue="bool">
        <CascadingValue Value="ActiveContainer" TValue="MasterElement">

            <div style="display: flex; flex-direction: column; width: 100%; height: 100%;" class="">
                <div style="flex-grow: 0; flex-shrink: 0; border-bottom: 1px solid grey;" class="">
                    <!-- Top bar -->
                    <RadzenMenu>
                        <RadzenMenuItem Text="File">
                            <RadzenMenuItem Text="New" Icon="add_circle_outline">
                                @foreach (var schema in EBMLSchemaService.SchemaSet.Schemas.Values)
                                {
                                    <RadzenMenuItem Click="@(() => NewDocument(schema))" Text="@schema.DocType" Icon="schema"></RadzenMenuItem>
                                }
                            </RadzenMenuItem>
                            <RadzenMenuItem Click="ShowOpenFileDialog" Text="Open EBML" Icon="file_open"></RadzenMenuItem>
                            <RadzenMenuItem Click="ShowSaveFileDialog" Text="Save" Icon="save" Disabled="@(Document == null)"></RadzenMenuItem>
                            <RadzenMenuItem Click="CloseDocument" Text="Close" title="" Icon="close" Disabled="@(Document == null)"></RadzenMenuItem>
                        </RadzenMenuItem>
                        <RadzenMenuItem Click="GoUp" Icon="arrow_upward" title="Up" Disabled="@(!CanGoUp)"></RadzenMenuItem>
                        <RadzenMenuItem Click="AddElement" Icon="add" title="Add" Disabled="@(Document == null)"></RadzenMenuItem>

                    </RadzenMenu>
                </div>
                <div style="flex-grow: 0; flex-shrink: 0; border-bottom: 1px solid grey;" class="">
                    <!-- Top bar -->
                    <RadzenTextBox Value="@Path" ValueChanged="SetPath" Style="width: 100%;"></RadzenTextBox>
                </div>
                <div style="flex-grow: 1; flex-shrink: 1; position: relative;" class="">
                    <div style="width: 100%; height: 100%; position: absolute;">
                        <RadzenSplitter Orientation="Orientation.Horizontal" Style="width: 100%; height: 100%;">
                            <RadzenSplitterPane Size="80%">
                                <div style="position: relative; width: 100%; height: 100%;">
                                    <!-- Left side -->
                                    <EBMLDataGrid @ref="Grid" DoubleClick="SetPath" Select="RowSelect" Deselect="RowDeselect"></EBMLDataGrid>
                                </div>
                            </RadzenSplitterPane>
                            <RadzenSplitterPane>
                                <RadzenSplitter Orientation="Orientation.Vertical" Style="width: 100%; height: 100%;">
                                    <RadzenSplitterPane Size="20%">
                                        <div style="position: relative; width: 100%; height: 100%;; padding: 1rem;">
                                            <!-- Top -->
                                            <span style="font-weight: bold;">Definition: </span>@Grid?.Selected?.SchemaElement?.Definition
                                            
                                        </div>
                                    </RadzenSplitterPane>
                                    <RadzenSplitterPane>
                                        <div style="position: relative; width: 100%; height: 100%; padding: 1rem;">
                                            @if (Grid.Selected is BinaryElement binaryElement)
                                            {
                                                <BinaryElementView Element="binaryElement"></BinaryElementView>
                                            }
                                        </div>
                                    </RadzenSplitterPane>
                                </RadzenSplitter>
                            </RadzenSplitterPane>
                        </RadzenSplitter>
                    </div>
                </div>
            </div>

        </CascadingValue>
    </CascadingValue>
</CascadingValue>